# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/terraform/Jenkins-Sonarqube/.terraform
/terraform/Jenkins-Sonarqube/jenkins.pem
/terraform/Jenkins-Sonarqube/.terraform.lock.hcl
/terraform/Jenkins-Sonarqube/terraform.tfstate
/terraform/Jenkins-Sonarqube/terraform.tfstate.backup
/terraform/Monitoring/.terraform
/terraform/Monitoring/prometheus.pem
/terraform/Monitoring/.terraform.lock.hcl
/terraform/Monitoring/terraform.tfstate
/terraform/Monitoring/terraform.tfstate.backup
.env
# dependencies
/node_modules
/.pnp
.pnp.js
/.git

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
